<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form action="#" th:action="@{/inventory/view}" th:object="{form}" method="post">
        <div class="form-group">
            <label th:for="itemType">Select Object Type</label>
            <select name="itemType">
                <option th:each="itemType : ${itemTypes}"
                        th:value="${itemType.id}"
                        th:text="${itemType.name}"></option>
            </select>


            <label th:for="type">Item Description</label>
            <input class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" class="error"></span>

            <label th:for="type">Qty</label>
            <input class="form-control" th:field="*{quantityInStock}" />
            <span th:errors="*{quantityInStock}" class="error"></span>

            <label th:for="type">Wholesale Cost</label>
            <input class="form-control" th:field="*{wholesaleCost}" />
            <span th:errors="*{wholesaleCost}" class="error"></span>

            <label th:for="type">Retail Cost</label>
            <input class="form-control" th:field="*{retailCost}" />
            <span th:errors="*{retailCost}" class="error"></span>

            <label th:for="type">Vendor P/N</label>
            <input class="form-control" th:field="*{vendorPN}" />
            <span th:errors="*{vendorPN}" class="error"></span>

            <label th:for="type">Vendor Description</label>
            <input class="form-control" th:field="*{vendorDescription}" />
            <span th:errors="*{vendorDescription}" class="error"></span>

            <input type="hidden" name="categoryId" th:value="*{category}"/>
            <span th:errors="${form}" class="error"></span>

            <input type="hidden" name="vendorId" th:value="*{vendor}"/>
            <span th:errors="${form}" class="error"></span>

            <input type="hidden" name="menuId" th:value="*{dateChanged}"/>
            <span th:errors="${form}" class="error"></span>

            <input type="hidden" name="invoice" th:value="*{invoice}"/>
            <span th:errors="${form}" class="error"></span>

        <input type="submit" id="submitButton" th:value="Save" />
        <input type="reset" id="resetButton" name="reset"  th:value="Reset"/>
        </div>
</form>

</body>
</html>