<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${itemTypes} and ${itemTypes.size()}">no inventory :(</p>

<div th:each="shopItem : ${inventory}">
    <ul><li th:text="${shopItem.name}, ', ', ${shopItem.category.name}"></li></ul>
</div>

<a href="/inventory/prepEntry">Prepare to add Inventory from Invoice</a>

</body>
</html>