<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <p th:unless="${registries} and ${registries.size()}">no registries yet :(</p>


        <ul>
            <li  th:each="registry : ${registries}">
                <a th:href="'/registry/view/' + ${registry.id}" th:text="${registry.name}">some registry</a>
            </li>
        </ul>


        <div><a href="/registry/add">Add a registry</a></div>

    </body>
</html>