<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <p th:unless="${shopItems} and ${shopItems.size()}">no menu items yet :(</p>

        <ul>
            <li th:each="shopItem : ${shopItems}" th:text="*{shopItem.name}"></li>
        </ul>
        <a th:href="'/registry/add-shopItem/' + ${registryId}">Add Shop Item to Registry</a>

    </body>
</html>