<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <p th:unless="${vendors} and ${vendors.size()}">Vendor has not had categories assigned yet</p>

        <ul>
            <li th:each="vendor : ${vendors}">
                <a th:href="'/vendor/view/' + ${vendor.id}" th:text="*{vendor.studioName}">view some vendor</a>
            </li>
        </ul>


    </body>
</html>