<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/checkout">Checkout</a> |
    <a href="/quickSearch">Quick Search</a> |
    <br/>
    <a href="/category">Categories</a> |
    <a href="/vendor">Vendors</a> |
    <br/>
    <a href="/inventory/add">Add Inventory</a> |
    <a href="/inventory">Inventory Home</a> |
    <br/>
    <a href="/registry">Registries</a> |
    <a href="/timeSheets">Time Sheets</a> |
</nav>


<a href="/login"> Sign-in</a>
<a href="/logout"> Log Out</a>
</body>
</html>