<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" >

    <div th:each="itemType : ${itemTypes}" class="checkbox">
        <input type="checkbox" name="itemTypeIds" th:value="${itemTypes.id}" th:id="${itemType.id}"/>
        <label th:for="${itemType.id}" th:text="${itemType.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Item Type" />
</form>

</body>
</html>