<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragmentsB :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragmentsB :: navigation"></nav>

        <div>
            <ul>
                <li th:each="shopItem : ${shopItems}" th:text="*{shopItem.name}"></li>
            </ul>
        </div>

        <div>
            <ul>
                <li>Sales Slip #12345678</li>
                <li>(date)</li>
                <li>(customer)</li>
            </ul>
        </div>

        <div><a href="/cashRegister/add-shopItem">Add Shop Item to this Sale</a></div>

    </body>
</html>